<div class="container">
    <div class="section">
        <h2>{{item.name}}</h2>
        <h6 class="subheading">{{item.desc}}</h6>
    </div>
    <form [formGroup]="dynform">
        <div class="section col-md-6">
            <div *ngFor="let field of item.fields">
                <formfield [field]="field" [form]="dynform"></formfield>
            </div>
            <div class="section base-margin-top">
                <button class="btn btn--secondary" (click)="goBack()">Back</button>
                <button type="button" [disabled]="!dynform.valid" (click)="showSuccess()" class="btn btn--primary">Submit</button>

            </div>
        </div>
    </form>

    <p-dialog header="Success!" [(visible)]="display">
        <span class="success">You have succesfully submited the order</span>

        <button type="button" pButton icon="fa-check" (click)="onSubmit()" label="Yes">OK</button>
    </p-dialog>
</div>